@import '../../scss/variables';
@import '../../scss/mixins';

.ShortenedLinksList {
    width: 100%;
    padding: 0 2.4rem;
    margin: 2.4rem auto 0 auto;

    & > :not(:last-child) {
        margin-bottom: 1.6rem;
    }

    @include breakpoint($largest) {
        padding: 0 16.7rem;
    }
}