@import '../../scss/variables';
@import '../../scss/mixins';

.ShortenedLink {
    background: #FFF;
    padding: 1.6rem;
    padding-top: 1rem;
    position: relative;
    overflow: hidden;
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
    

    @include breakpoint($large) {
        display: flex;
        padding-top: 1.6rem;
    }

    @include breakpoint($largest) {
        max-width: none;
    }

    &::after{
        content: "";
        width: 100%;
        background-color: grey;
        height: 1px;
        display: block;
        position: absolute;
        z-index: 1;
        top: 5.6rem;
        left: 0;

        @include breakpoint($large) {
            display: none;
        }
    }

    &__long{
        color: #34313D;
        line-height: 3.6rem;
        letter-spacing: .12px;
        padding-right: 20px;
        position: relative;
        margin-top: 6px;
        margin-bottom: 5px;
        white-space: nowrap;
        font-size: 1.6rem;
        overflow: hidden;
        text-overflow: ellipsis;


        @include breakpoint($large) {
            margin: 0;
            font-size: 2rem;
        }

    }

    &__short{
        color: $color-cyan;
        line-height: 3.6rem;
        letter-spacing: .12px;
        margin-top: 6px;
        font-size: 1.6rem;

        @include breakpoint($large) {
            margin: 0 2.4rem 0 2.4rem;
            font-size: 2rem;
        }
    }

    &__links{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        justify-content: space-between;
        min-width: 0;



        @include breakpoint($large) {
            flex-wrap: nowrap;
            max-width: calc(100% - 10.3rem);
        }
    }

    & > :last-child {
        margin-top: .8rem;

        @include breakpoint($large) {
            margin: 0;
        }
    }

    &__copy {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__close {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            width: 3px;
            height: 22px;
            background: $color-red;
            top: 0;
            left: 45%;
            transform: rotateZ(-45deg);
            z-index: 2;
        }

        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 22px;
            background: $color-red;
            top: 0;
            left: 45%;
            transform: rotateZ(45deg);
            z-index: 2;
        }
    }
}