//PRIMARY
$color-cyan: #2BD0D0;
$color-dark-violet: hsl(257, 27%, 26%);
//SECONDARY
$color-red: hsl(0, 87%, 67%);
//NEUTRAL
$color-gray: (0, 0%, 75%);
$color-grayish-violet: hsl(257, 7%, 63%);
$color-dark-blue: hsl(255, 11%, 22%);
$color-dark-violet-2: hsl(260, 8%, 14%);


//BREAKPOINTS
$small: 600px;
$medium: 800px;
$large: 1000px;
$larger: 1200px;
$largest: 1440px;